<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <script defer src="js/vendor.js"></script>
    <script defer src="js/popup.js"></script>
    <style>
        body {
            font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
            font-size: 100%;
        }
    </style>
    <title>{{ title }}</title>
</head>

<body>
</body>

</html>